<h1><%= @holiday.name %></h1>
<p><%= @holiday.date %></p>

<%= button_to "Delete this holiday", @holiday, method: :delete %>

<h2>All Parties</h2>
<% @holiday.parties.each do |party| %>
  <p>
    <%= link_to party.location, party %>
  </p>
<% end %>