<h1>pls pls pls work i did so much already!</h1>

<form method="POST" action="/events">
  <label for="name_field">Name</label>
  <input type="text" name="name">
  <label for="location_field">Where</label>
  <input type="text" name="location">
  <label for="date_field">When</label>
  <input type="text" name="date">
  <label for="headcount_field">How Many?</label>
  <input type="number" name="headcount">

  <input type="submit" value="Submit!">
</form>