<form action="/events" method="post">
<input type="text" name="event[name]">
<input type="text" name="event[location]">
<input type="text" name="event[headcount]">
<input type="submit" value="pls">
</form>